@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* ======= ROOT ======= */


:root{
	--font: 'Montserrat', sans-serif;
	--white: #F0F0F0;
	--blue1: #213555;
	--blue2: #4F709C;
	--yellow: #E5D283;
	--delcyellow: #fbd81a;
	--delcred: #df2401;
	--delcblue: #004a7d;
}

body{
	padding: 0;
	margin: 0;
	font-family: var(--font);
}


a{
	text-decoration: none;
	color:#ecd23f;
	

}

a:hover{
	text-decoration: underline;
	transition: 1s cubic-bezier(0,.72,.85,.66);
}