/* ======= HEADER ======= */

header{
	height: 5rem;
	background-color: #fff;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 60px;
	border-bottom: 2px solid #000000;
	position: fixed;
	top: 0;
	width: 100%;

}

.nav__links{
	list-style: none;
}

.nav__links li{
	display: inline-block;
	padding: 0px 20px
}

.nav__links li a{
	margin: 10px 10px;
	color: black;
}


/* ======= FOOTER======= */